:root {
  --color-bg: #f1f1f2;
  --color-txt: #5c5c5c;
  --color-hvr: #969697;
}

:root.dark-mode {
  --color-bg: #19191a;
  --color-txt: #adadae;
  --color-hvr: #7e7d7d;
}

.no-flash {
  visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/SourceCodePro-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

body,
html {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-bg);
  color: var(--color-txt);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 990px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 1.8em;
  padding: 1px;
  background-color: var(--color-hvr);
  border-radius: 50%;
  cursor: pointer;
}

.logo a {
  font-size: 1.1em;
}

nav a {
  text-decoration: none;
  color: var(--color-txt);
  margin-left: 5px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: var(--color-hvr);
}

.intro {
  margin-top: 20px;
}

.intro p {
  line-height: 1.5;
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 990px;
  margin: 20px auto;
}

.card-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 960px;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.card {
  width: 300px;
  height: 280px;
  margin: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
}

.card img {
  width: 100%;
}

.title {
  margin: 5px 0;
}

.description {
  margin: 0;
  font-size: 0.9em;
}

footer {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-size: 0.8em;
  color: var(--color-hvr);
  max-width: 990px;
  width: 100%;
  padding: 0 10px;
}

@media (max-width: 640px) {
  .card-box {
    justify-content: center;
  }
}
