:root {
  --color-bg: #f0f0f0;
  --color-txt: #5c5c5c;
  --color-sec: #969697;
}

:root.dark-mode {
  --color-bg: #19191a;
  --color-txt: #adadae;
  --color-sec: #7e7d7d;
}

.no-flash {
  visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-bg);
  color: var(--color-txt);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 2.5em;
  padding: 1px;
  background-color: var(--color-sec);
  border-radius: 50%;
  cursor: pointer;
}

.logo a {
  font-size: 1.4em;
  text-decoration: none;
  color: var(--color-txt);
  margin-left: 10px;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 135px;
}

.contact a {
  text-decoration: none;
  color: var(--color-txt);
  transition: color 0.3s ease-in-out;
}

.contact a:hover {
  color: var(--color-sec);
}

.intro {
  margin-top: 10px;
  max-width: 500px;
}

.intro p {
  line-height: 1.5;
  margin: 5px 0 0;
  color: var(--color-sec);
}

.intro p span {
  color: var(--color-txt);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0 10px;
}

.card-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-auto-rows: 1fr;
  gap: 0;
  max-width: 100%;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.card {
  width: 300px;
  height: 280px;
  margin: 10px;
  overflow: hidden;
}

.card:hover img {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.title {
  margin: 2.5px;
}

.description {
  margin: 2.5px;
  font-size: 0.9em;
  color: var(--color-sec);
}

footer {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

footer p {
  font-size: 0.8em;
  color: var(--color-sec);
  line-height: 1;
  margin: 0;
}
