[data-theme="light"] {
  --color-bg: #eeeeee;
  --color-txt: #222831;
  --color-2nd: #eeeeee;
  --color-hvr: #76abae;
}

[data-theme="dark"] {
  --color-bg: #222831;
  --color-txt: #eeeeee;
  --color-2nd: #31363f;
  --color-hvr: #76abae;
}

body,
html {
  font-family: "Nunito", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-txt);
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.mode-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  color: var(--color-hvr);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 1.4em;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-txt);
  background-color: var(--color-bg);
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.intro-box {
  padding: 15px 20px;
}

.intro {
  margin-bottom: 10px;
}

.intro img {
  max-width: 6em;
  padding: 4px;
  background-color: var(--color-hvr);
  border-radius: 50%;
}

.intro p {
  line-height: 1.5;
  margin: 0;
}

.myname {
  font-size: 1.5em;
  font-weight: 800;
  color: var(--color-hvr);
}

.social span {
  margin-right: 5px;
}

.social a {
  text-decoration: none;
  color: var(--color-hvr);
  font-size: 1.2em;
  margin-right: 15px;
}

.social a:hover {
  filter: brightness(80%);
}

.card-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.card {
  background-color: var(--color-2nd);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin: 10px;
  overflow: hidden;
}

.card:hover {
  background-color: var(--color-hvr);
  color: var(--color-2nd);
}

.image {
  border-radius: 10px;
  padding: 4px 4px 0;
  height: 196px;
}

img {
  border-radius: 10px;
  width: 100%;
}

.description {
  padding: 10px;
  height: 80px;
}

.description h2 {
  margin: 0;
  font-size: large;
}

.description p {
  margin: 0;
  font-size: small;
}
